Host proxy.example.com
    HostName                            px.rwxrwxrwx.dev
    Port                                22
    # # 📌 SSH [ nb ][ public ]
    # RemoteForward                       *:2263   *:22
    # # 📌 Syncthing WEB [ nb ]
    # RemoteForward                       mt.example.com:8394   *:8384
    # # 📌 Syncthing [ nb ]
    # RemoteForward                       mt.example.com:22063  *:22000
    # # 📌 Dockerd [ nb ]
    # RemoteForward                       mt.example.com:6376   ds.example.com:2376

Host *
    IdentityFile                         ~/.ssh/id_rsa
    TCPKeepAlive                         yes
    ServerAliveInterval                  30
    ServerAliveCountMax                  3
    ForwardAgent                         no
    AddKeysToAgent                       yes
    ForwardX11                           no
    ForwardX11Trusted                    yes
    Compression                          yes
    AddressFamily                        any
    StrictHostKeyChecking                no
    NoHostAuthenticationForLocalhost     yes
    SendEnv                              TZ SSH_AGENT_ID